  .similar {
    margin-top: 2rem;
    .heading {
      text-align: center;
      text-transform: capitalize;
      // color: #fff;
      font-size: 3rem;
      font-family: 'Playfair Display', serif;
    }
  }
  
