.topnav{
  width: 100%;
  position: sticky;
  top: 0;
  background:#FF414C;
  padding: 0 2rem;
  height: 6rem;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  .link{
    text-decoration: none;
    color: #fff;
  }
  i {
    font-size: 4rem;
  }
}

.right {
  display: flex;
}

.search {
  margin-right: 2rem;
  cursor: pointer;
  i {
    font-size: 3rem;
  }
}


.burger {
  position: relative;
  align-self: center;
  cursor: pointer;
  &.open {
      margin-top: 1.6rem;
       // fade out middle span          
      span:nth-of-type(2) {
          width: 3rem;
          opacity: 0;
      }    
      // rotate top and bottom span 
      // to form X
      span:nth-of-type(1) {
          transform: rotate(-45deg);
      }
      span:nth-of-type(3) {
          transform: rotate(45deg);
          top: -1.6rem;
      }
  }
  span {
      background: #eee;
      display: block;
      width: 3rem;
      height: 0.3rem;
      margin-bottom: 0.5rem;
      position: relative;
      top: 0;
      transition: all 0.2s linear;
  }
}